html {
	background: #f9f8f3;
}

@font-face {
	font-family: "Museo";
	src: url(fonts/MuseoSans_500.otf) format("opentype");

}

body {
	font-family: Museo;
	width: 980px;
	margin: 0 auto;

}

.info {
	position: absolute;
	width: 500px;

}



.info > h1 {
	font-size: 40px;

}

.info > p {
	width: 320px;

}


.portfolio {
	position: absolute;
	right:0;
	
	

}

.portfolio > h1 {
	font-size: 40px;

}

ul {
	list-style: none;
	display: inline;

}

ul li {
	float: left;
	padding-right: 25px;

}

ul a:hover {
	opacity: 0.5;

}



.about {
	width: 300px;

}


		/* iPad [portrait + landscape] */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	body{width: 100%;}
	.portfolio{top:700px; left:0;}
}

/* iPhone [portrait + landscape] */
@media only screen and (max-device-width: 480px) {
	body{width: 100%;}
	.portfolio{top:700px; left:0;}
}






